APP_ENV=development
APP_PORT=8080

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Lotinseng@093139
POSTGRES_DB=aquavidarbha
POSTGRES_SSLMODE=disable
POSTGRES_MAX_CONNS=10

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

JWT_SECRET=cd94837c4c1945acf3928de32698bc0e1752a3deb820158f47f00b12ada4c991
JWT_TTL_HOURS=24

CORS_ALLOW_ORIGINS=http://localhost:5173,http://localhost:3000
CORS_ALLOW_METHODS=GET,POST,PUT,PATCH,DELETE,OPTIONS
CORS_ALLOW_HEADERS=Authorization,Content-Type,X-Request-ID
CORS_ALLOW_CREDENTIALS=true
